{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</head>
<body>
    <div class="brand-wrapper ">
        <img  src="{% static 'user/images/logo3.jpg' %}" alt="logo" >
      </div>
    <div class="container ">
        <div class=" col-md-12  " style="margin-left: 270px; margin-top: 180px;">
          <form  action="{% url 'verify' num %}" method="POST" > {% csrf_token%}
            <div class="card p-2 text-center col-md-6 pt-5">
                <h6>Please enter the one time password<br> to verify your account</h6>
               
                <div  class="inputs d-flex flex-row justify-content-center mt-2"> <input class="m-2 text-center form-control rounded col-md-1" id="otp1" name="otp1"  type="text" onkeyup="move(this,'otp2')"  maxlength="1" /> <input class=" col-1 m-2 text-center form-control rounded" type="text" id="otp2" name="otp2" onkeyup="move(this,'otp3')"  maxlength="1" /> <input class=" col-md-1 m-2 text-center form-control rounded" id="otp3" name="otp3"  type="text" onkeyup="move(this,'otp4')"  maxlength="1" /> <input class="m-2 col-md-1 text-center form-control rounded " name="otp4" id="otp4" type="text"  maxlength="1" /> </div>
                <div class="mt-4"> <button type="submit" class="btn btn-warning px-4 validate">Validate</button> </div>
            </div>
            <div class="card-2">
               
            </div>
        </div></form>
    </div>

    <script>
    move=(fromotp,tootp)=>{
           var length = fromotp.length;
           console.log(length,tootp)
           var maxlength = fromotp.getAttributes(maxlength);
           if(length == maxlength){
             document.getElementById(tootp).focus();
           }
     }
    </script>
</body>
</html>