{% extends 'base.html'%}

{% load static%}

{% block content%}
{% load static %}
{% load crispy_forms_tags %}


	<title>Document</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.11/cropper.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.11/cropper.js"></script>
	<style>
        .preview {
            overflow: hidden;
            width: 200px; 
            height: 200px;
		}

        .preview1{
			overflow: hidden;
            width: 200px; 
            height: 200px;

		}		
		.preview2{
			overflow: hidden;
            width: 200px; 
            height: 200px;

		}		
		.preview3{
			overflow: hidden;
            width: 200px; 
            height: 200px;

		}	
             
    </style>

	<div class="container ">
		
		<div class="col-md-12 " style="background-color: 1e1e2f; color: aliceblue;">
			<form method="POST" enctype="multipart/form-data" id="post-form" style="margin-bottom: 20px; border: 2px solid grey; padding: 30px 20px;">
				{% csrf_token%}
			<div class="row">
				<div class="col-md-2"></div>
				<div class="col-md-3">{{ form|crispy }}</div>
				<div class="col-md-5 " style="padding-top: 300px;">
                  <div class="row">
					  <div class="col-md-6">
						<div class="mt-3 p-2 image-container" id="image-box" style="height: 120px; width: 120px; "></div>
						<div class="mt-3 p-2 preview e-navlist e-navlist--active-bg" id="preview" style="height: 120px; width: 120px;"></div>
						 <div class="mt-3 p-2  image-container" id="image-box1" style="height: 120px; width: 120px;"></div> 
						<div class="mt-3 p-2 preview1 e-navlist e-navlist--active-bg"  id="preview1" style="height: 120px; width: 120px; "></div> 
					  </div>
					   <div class="col-md-6"> 
						<div class="mt-3 p-2 image-container" id="image-box2" style="height: 120px; width: 120px;"></div>  
						 <div class="mt-3 p-2  preview2 e-navlist e-navlist--active-bg"  id="preview2" style="height: 120px; width: 120px;"></div>
						<div class="mt-3 p-2 image-container"  id="image-box3" style="height: 120px; width: 120px;"></div>
						<div class="mt-3 p-2 preview3"   id="preview3" style="height: 120px; width: 120px;"></div>
					  </div>  
					</div>
					<button class="btn btn-success" id="crop-btn" style="width: 100%; margin-top: 10px;  display: none; " type="button">Crop</button>
				   <button class="btn btn-success" id="confirm-btn" style="width: 100%; margin-top: 10px;" type="submit">Submit</button>  
				</div>
				<div class="col-md-2 pt-3"><a style="color: darkgoldenrod;" href="{% url 'productmanagement' %}"><h5>Product List</h5></a></div>
			</div></form>
		</div>
	</div>

<script>
	// image-box is the id of the div element that will store our cropping image preview
	const imagebox = document.getElementById('image-box')
        // crop-btn is the id of button that will trigger the event of change original file with cropped file.
	const crop_btn = document.getElementById('crop-btn')
	// id_image is the id of the input tag where we will upload the image
	const input = document.getElementById('id_image1')
	var allowedExtensions = 
				/(\.jpg|\.jpeg|\.png|\.gif)$/i;
				
	var filePath = input.value;

	// When user uploads the image this event will get triggered
	input.addEventListener('change', ()=>{
		if (!allowedExtensions.exec(input.value)) {
			alert('Invalid file type');
			input.value = '';

		} 
		else 
		{
	  // Getting image file object from the input variable
	  const img_data = input.files[0]
	  // createObjectURL() static method creates a DOMString containing a URL representing the object given in the parameter.
	  // The new object URL represents the specified File object or Blob object.
	  const url = URL.createObjectURL(img_data)
	  
	  // Creating a image tag inside imagebox which will hold the cropping view image(uploaded file) to it using the url created before.
	  imagebox.innerHTML = `<img src="${url}" id="image" style="width:100%;">`

	  // Storing that cropping view image in a variable
	  const image = document.getElementById('image')

	  // Displaying the image box
	  document.getElementById('image-box').style.display = 'block'
	  // Displaying the Crop buttton
	  document.getElementById('crop-btn').style.display = 'block'
	  // Hiding the Post button
	  document.getElementById('confirm-btn').style.display = 'none'

	  // Creating a croper object with the cropping view image
	  // The new Cropper() method will do all the magic and diplay the cropping view and adding cropping functionality on the website
	  // For more settings, check out their official documentation at https://github.com/fengyuanchen/cropperjs
	  const cropper = new Cropper(image, {
	  autoCropArea: 1,
	  viewMode: 1,
	  scalable: false,
	  zoomable: false,
	  movable: false,
      aspectRatio: 14/16,
      preview: '.preview',
	  minCropBoxWidth: 200,
	  minCropBoxHeight: 200,
	  })

	  // When crop button is clicked this event will get triggered
	  crop_btn.addEventListener('click', ()=>{
	    // This method coverts the selected cropped image on the cropper canvas into a blob object
	    cropper.getCroppedCanvas().toBlob((blob)=>{
	      console.log(blob)
	      // Gets the original image data
	      let fileInputElement = document.getElementById('id_image1');
          console.log(fileInputElement)
	      // Make a new cropped image file using that blob object, image_data.name will make the new file name same as original image
	      let file = new File([blob], img_data.name,{type:"image/*", lastModified:new Date().getTime()});
	      // Create a new container
	      let container = new DataTransfer();
	      // Add the cropped image file to the container
	      container.items.add(file);


	      // Replace the original image file with the new cropped image file
	      fileInputElement.files = container.files;
         

        
	      // Hide the cropper box
	      document.getElementById('image-box').style.display = 'none'
	      // Hide the crop button
	      document.getElementById('crop-btn').style.display = 'none'
	      // Display the Post button
	      document.getElementById('confirm-btn').style.display = 'block'
        //document.getElementById('profile').setAttribute("src","http://127.0.0.1:8000/media/images/"+img_data.name)
	      });
	    });
		}
	});	
</script>

<!--second image-->
<script>
	// image-box is the id of the div element that will store our cropping image preview
	const imagebox1  = document.getElementById('image-box1')
        // crop-btn is the id of button that will trigger the event of change original file with cropped file.
	const crop_btn1 = document.getElementById('crop-btn')
	// id_image is the id of the input tag where we will upload the image
	const input1 = document.getElementById('id_image2')
	var allowedExtensions = 
				/(\.jpg|\.jpeg|\.png|\.gif)$/i;
				
	var filePath = input1.value;

	// When user uploads the image this event will get triggered
	input1.addEventListener('change', ()=>{
		if (!allowedExtensions.exec(input1.value)) {
			alert('Invalid file type');
			input1.value = '';

		} 
		else 
		{
	  // Getting image file object from the input variable
	  const img_data1 = input1.files[0]
	  // createObjectURL() static method creates a DOMString containing a URL representing the object given in the parameter.
	  // The new object URL represents the specified File object or Blob object.
	  const url1 = URL.createObjectURL(img_data1)
	  
	  // Creating a image tag inside imagebox which will hold the cropping view image(uploaded file) to it using the url created before.
	  imagebox1.innerHTML = `<img src="${url1}" id="image" style="width:100%;">`

	  // Storing that cropping view image in a variable
	  const image1 = document.getElementById('image')

	  // Displaying the image box
	  document.getElementById('image-box1').style.display = 'block'
	  // Displaying the Crop buttton
	  document.getElementById('crop-btn').style.display = 'block'
	  // Hiding the Post button
	  document.getElementById('confirm-btn').style.display = 'none'

	  // Creating a croper object with the cropping view image
	  // The new Cropper() method will do all the magic and diplay the cropping view and adding cropping functionality on the website
	  // For more settings, check out their official documentation at https://github.com/fengyuanchen/cropperjs
	  const cropper1 = new Cropper(image1, {
	  autoCropArea: 1,
	  viewMode: 1,
	  scalable: false,
	  zoomable: false,
	  movable: false,
      aspectRatio: 14/16,
      preview: '.preview1',
	  minCropBoxWidth: 200,
	  minCropBoxHeight: 200,
	  })

	  // When crop button is clicked this event will get triggered
	  crop_btn1.addEventListener('click', ()=>{
	    // This method coverts the selected cropped image on the cropper canvas into a blob object
	    cropper1.getCroppedCanvas().toBlob((blob)=>{
	    
	      // Gets the original image data
	      let fileInputElement1 = document.getElementById('id_image2');
         
	      // Make a new cropped image file using that blob object, image_data.name will make the new file name same as original image
	      let file1 = new File([blob], img_data1.name,{type:"image/*", lastModified:new Date().getTime()});
	      // Create a new container
	      let container1 = new DataTransfer();
	      // Add the cropped image file to the container
	      container1.items.add(file1);
         
	      // Replace the original image file with the new cropped image file
	      fileInputElement1.files = container1.files;
     
        
	      // Hide the cropper box
	      document.getElementById('image-box1').style.display = 'none'
	      // Hide the crop button
	      document.getElementById('crop-btn').style.display = 'none'
	      // Display the Post button
	      document.getElementById('confirm-btn').style.display = 'block'
        //document.getElementById('profile').setAttribute("src","http://127.0.0.1:8000/media/images/"+img_data.name)
	      });
	    });
		}
	});	
</script>
<!-- end second image-->
<!--third image-->

<script>
	// image-box is the id of the div element that will store our cropping image preview
	const imagebox2  = document.getElementById('image-box2')
        // crop-btn is the id of button that will trigger the event of change original file with cropped file.
	const crop_btn2 = document.getElementById('crop-btn')
	// id_image is the id of the input tag where we will upload the image
	const input2 = document.getElementById('id_image3')
	var allowedExtensions = 
				/(\.jpg|\.jpeg|\.png|\.gif)$/i;
				
	var filePath = input2.value;

	// When user uploads the image this event will get triggered
	input2.addEventListener('change', ()=>{
		if (!allowedExtensions.exec(input2.value)) {
			alert('Invalid file type');
			input2.value = '';

		} 
		else 
		{
	  // Getting image file object from the input variable
	  const img_data2 = input2.files[0]
	  // createObjectURL() static method creates a DOMString containing a URL representing the object given in the parameter.
	  // The new object URL represents the specified File object or Blob object.
	  const url2 = URL.createObjectURL(img_data2)
	  
	  // Creating a image tag inside imagebox which will hold the cropping view image(uploaded file) to it using the url created before.
	  imagebox2.innerHTML = `<img src="${url2}" id="image" style="width:100%;">`

	  // Storing that cropping view image in a variable
	  const image2 = document.getElementById('image')

	  // Displaying the image box
	  document.getElementById('image-box2').style.display = 'block'
	  // Displaying the Crop buttton
	  document.getElementById('crop-btn').style.display = 'block'
	  // Hiding the Post button
	  document.getElementById('confirm-btn').style.display = 'none'

	  // Creating a croper object with the cropping view image
	  // The new Cropper() method will do all the magic and diplay the cropping view and adding cropping functionality on the website
	  // For more settings, check out their official documentation at https://github.com/fengyuanchen/cropperjs
	  const cropper2 = new Cropper(image2, {
	  autoCropArea: 1,
	  viewMode: 1,
	  scalable: false,
	  zoomable: false,
	  movable: false,
      aspectRatio: 14/16,
      preview: '.preview2',
	  minCropBoxWidth: 200,
	  minCropBoxHeight: 200,
	  })

	  // When crop button is clicked this event will get triggered
	  crop_btn2.addEventListener('click', ()=>{
	    // This method coverts the selected cropped image on the cropper canvas into a blob object
	    cropper2.getCroppedCanvas().toBlob((blob)=>{
	    
	      // Gets the original image data
	      let fileInputElement2 = document.getElementById('id_image3');
         
	      // Make a new cropped image file using that blob object, image_data.name will make the new file name same as original image
	      let file2 = new File([blob], img_data2.name,{type:"image/*", lastModified:new Date().getTime()});
	      // Create a new container
	      let container2 = new DataTransfer();
	      // Add the cropped image file to the container
	      container2.items.add(file2);
         
	      // Replace the original image file with the new cropped image file
	      fileInputElement2.files = container2.files;
     
        
	      // Hide the cropper box
	      document.getElementById('image-box2').style.display = 'none'
	      // Hide the crop button
	      document.getElementById('crop-btn').style.display = 'none'
	      // Display the Post button
	      document.getElementById('confirm-btn').style.display = 'block'
        //document.getElementById('profile').setAttribute("src","http://127.0.0.1:8000/media/images/"+img_data.name)
	      });
	    });
		}
	});	
</script>

<!--4th Image-->

<script>
	// image-box is the id of the div element that will store our cropping image preview
	const imagebox3  = document.getElementById('image-box3')
        // crop-btn is the id of button that will trigger the event of change original file with cropped file.
	const crop_btn3 = document.getElementById('crop-btn')
	// id_image is the id of the input tag where we will upload the image
	const input3 = document.getElementById('id_image4')
	var allowedExtensions = 
				/(\.jpg|\.jpeg|\.png|\.gif)$/i;
				
	var filePath = input3.value;

	// When user uploads the image this event will get triggered
	input3.addEventListener('change', ()=>{
		if (!allowedExtensions.exec(input3.value)) {
			alert('Invalid file type');
			input3.value = '';

		} 
		else 
		{
	  // Getting image file object from the input variable
	  const img_data3 = input3.files[0]
	  // createObjectURL() static method creates a DOMString containing a URL representing the object given in the parameter.
	  // The new object URL represents the specified File object or Blob object.
	  const url3 = URL.createObjectURL(img_data3)
	  
	  // Creating a image tag inside imagebox which will hold the cropping view image(uploaded file) to it using the url created before.
	  imagebox3.innerHTML = `<img src="${url3}" id="image" style="width:100%;">`

	  // Storing that cropping view image in a variable
	  const image3 = document.getElementById('image')

	  // Displaying the image box
	  document.getElementById('image-box3').style.display = 'block'
	  // Displaying the Crop buttton
	  document.getElementById('crop-btn').style.display = 'block'
	  // Hiding the Post button
	  document.getElementById('confirm-btn').style.display = 'none'

	  // Creating a croper object with the cropping view image
	  // The new Cropper() method will do all the magic and diplay the cropping view and adding cropping functionality on the website
	  // For more settings, check out their official documentation at https://github.com/fengyuanchen/cropperjs
	  const cropper3 = new Cropper(image3, {
	  autoCropArea: 1,
	  viewMode: 1,
	  scalable: false,
	  zoomable: false,
	  movable: false,
      aspectRatio: 14/16,
      preview: '.preview3',
	  minCropBoxWidth: 200,
	  minCropBoxHeight: 200,
	  })

	  // When crop button is clicked this event will get triggered
	  crop_btn3.addEventListener('click', ()=>{
	    // This method coverts the selected cropped image on the cropper canvas into a blob object
	    cropper3.getCroppedCanvas().toBlob((blob)=>{
	    
	      // Gets the original image data
	      let fileInputElement3 = document.getElementById('id_image4');
         
	      // Make a new cropped image file using that blob object, image_data.name will make the new file name same as original image
	      let file3 = new File([blob], img_data3.name,{type:"image/*", lastModified:new Date().getTime()});
	      // Create a new container
	      let container3 = new DataTransfer();
	      // Add the cropped image file to the container
	      container3.items.add(file3);
         
	      // Replace the original image file with the new cropped image file
	      fileInputElement3.files = container3.files;
     
        
	      // Hide the cropper box
	      document.getElementById('image-box3').style.display = 'none'
	      // Hide the crop button
	      document.getElementById('crop-btn').style.display = 'none'
	      // Display the Post button
	      document.getElementById('confirm-btn').style.display = 'block'
        //document.getElementById('profile').setAttribute("src","http://127.0.0.1:8000/media/images/"+img_data.name)
	      });
	    });
		}
	});	
</script>


{% endblock %}