{% extends 'base.html'%}
{% load static%}




{%block content%}


<style>
    body {
        color: #404E67;
        background: #0c57c7;
		font-family: 'Open Sans', sans-serif;
	}
	.table-wrapper {
		width: 700px;
		margin: 30px auto;
        background: rgb(63, 64, 70);
        padding: 20px;	
        box-shadow: 0 1px 1px rgba(0,0,0,.05);
    }
    .table-title {
        padding-bottom: 10px;
        margin: 0 0 10px;
    }
    .table-title h2 {
        margin: 6px 0 0;
        font-size: 22px;
    }
    .table-title .add-new {
        float: right;
		height: 30px;
		font-weight: bold;
		font-size: 12px;
		text-shadow: none;
		min-width: 100px;
		border-radius: 50px;
		line-height: 13px;
    }
	.table-title .add-new i {
		margin-right: 4px;
	}
    table.table {
        table-layout: fixed;
    }
    table.table tr th, table.table tr td {
        border-color: #e9e9e9;
    }
    table.table th i {
        font-size: 13px;
        margin: 0 5px;
        cursor: pointer;
    }
    table.table th:last-child {
        width: 100px;
    }
    table.table td a {
		cursor: pointer;
        display: inline-block;
        margin: 0 5px;
		min-width: 24px;
    }    
	table.table td a.add {
        color: #c6eb43;
    }
    table.table td a.edit {
        color: #FFC107;
    }
    table.table td a.delete {
        color: #E34724;
    }
    table.table td i {
        font-size: 19px;
    }
	table.table td a.add i {
        font-size: 24px;
    	margin-right: -1px;
        position: relative;
        top: 3px;
    }    
    table.table .form-control {
        height: 32px;
        line-height: 32px;
        box-shadow: none;
        border-radius: 2px;
    }
	table.table .form-control.error {
		border-color: #f50000;
	}
	table.table td .add {
		display: none;
	}
</style>
<script>
$(document).ready(function(){
	$('[data-toggle="tooltip"]').tooltip();
	var actions = $("table td:last-child").html();
	// Append table with add row form on add new button click
    $(".add-new").click(function(){
		$(this).attr("disabled", "disabled");
		var index = $("table tbody tr:last-child").index();
        var row = '<tr>' +
            '<td><input type="text" class="form-control" name="name" id="name"></td>' +
            '<td><input type="text" class="form-control" name="department" id="department"></td>' +
            '<td><input type="text" class="form-control" name="phone" id="phone"></td>' +
			'<td>' + actions + '</td>' +
        '</tr>';
    	$("table").append(row);		
		$("table tbody tr").eq(index + 1).find(".add, .edit").toggle();
        $('[data-toggle="tooltip"]').tooltip();
    });
	// Add row on add button click
	$(document).on("click", ".add", function(){
		var empty = false;
		var input = $(this).parents("tr").find('input[type="text"]');
        input.each(function(){
			if(!$(this).val()){
				$(this).addClass("error");
				empty = true;
			} else{
                $(this).removeClass("error");
            }
		});
		$(this).parents("tr").find(".error").first().focus();
		if(!empty){
			input.each(function(){
				$(this).parent("td").html($(this).val());
			});			
			$(this).parents("tr").find(".add, .edit").toggle();
			$(".add-new").removeAttr("disabled");
		}		
    });
	// Edit row on edit button click
	$(document).on("click", ".edit", function(){		
        $(this).parents("tr").find("td:not(:last-child)").each(function(){
			$(this).html('<input type="text" class="form-control" value="' + $(this).text() + '">');
		});		
		$(this).parents("tr").find(".add, .edit").toggle();
		$(".add-new").attr("disabled", "disabled");
    });
	// Delete row on delete button click
	$(document).on("click", ".delete", function(){
        $(this).parents("tr").remove();
		$(".add-new").removeAttr("disabled");
    });
});
</script>
</head>
<body>
    <div class="container pl-5" style="padding-top: 130px; margin-left: 200px;">
        <div class="table-wrapper  " style="width: 1000px;background-color: #212529; ">
            <div class="table-title" style="background-color: #212529;">
                <div class="row ">
                    <div class="col-md-12 text-primary"><h2>Order <b>Details</b></h2></div>
                    
                </div>
            </div>
            <table class="table " style="background-color: #212529;">
                <thead  style="background-color: #212529;">
                    <tr>
                        
                        <th>customer Name</th>
                        <th>Qty</th>
                        <th>Total price</th>
                        <th>payment_method</th>
                        <th>status</th>
                        <th></th>
                 
                    </tr>
                </thead>
                <tbody> {% for order in orders %}
                       
                    
                    <tr>
                    
                       <td>{{order.user.FirstName}}</td>
                       <td>{{order.item.quantity}}</td>
                       <td>{{order.price}}</td>
                       <td>{{order.pay_method}}</td>
                       <td>{{order.status}}</td>
                       <td>
                        <div class="">
                            
                            {% if order.status == "placed" %}
                            <button class="btn btn-primary button p-auto"  type="button" data-listid="{{order.id}}" value="Shipped" >Shipped</button>
                            {% elif order.status == "Shipped" %}
                            <button class="btn btn-primary button p-1"  type="button" data-listid="{{order.id}}" value="deliverd" >Delivered</button>
                            {% endif %}
                        </div>
                        </td>
                        <td>
                            {% if order.status == "Canceled"%}
                            {% else %}
                            <button class="btn btn-primary button" type="button" value="Canceled" data-listid="{{order.id}}">Cancel</button>
                            {% endif%}
                        </td>
                       
                    </tr>
                   
                    
                </tbody> {% endfor %}
            </table>
        </div>
    </div>  
    
    <script>
        $(".button").click(function() {
            
            var $button = $(this);
            var id = $(this).attr("data-listid");
            console.log(id)
            var values = $(this).val();
            if (values == 'deliverd'){
                y=confirm('Do You Confirm ?')
                if(y==true){

                    var data = {
                        'id1' : id,
                        'status' : values,
                        
                        }
                        $.ajax({
                            url:'/admin/orderstatus/',
                            method:'POST',
                            data: data,
                            success:function(data){
                                if (data =='true'){
                                    window.location.replace('/admin/ordermanagement')
                                }
                            }
                        });
                }
            }
            else{
                
            var data = {
            'id1' : id,
            'status' : values,
            
            }
            console.log(data)
            $.ajax({ 
                
                url: '/admin/orderstatus/',
                method:'POST',
                data: data,
                success:function(data){
                    if (data =='true'){
                        window.location.replace('/admin/ordermanagement')
                    }
                }
            });
            }
            
        });
    </script>
{% endblock%}